---
---

@charset "utf-8";

$base-font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
$base-font-size: 18px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color: #333;
$background-color: #fff;
$highlight-color: #234c98;

@import
    "reset",
    "breakpoints",
    "helper",
    "base",
    "syntax-highlighting"
    ;
