---
---

@charset "utf-8";

$base-font-family: system, -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$base-font-size: 14px; 
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color: #333;
$light-text-color: #999;
$lighter-text-color: #ddd;

$background-color: #fefefe;
$highlight-color: #ff9300;


@import
    "reset",
    "breakpoints",
    "helper",
    "base",
    "syntax-highlighting"
    ;
