<footer class="site-footer my4">

  <ul class="list-reset h5">
    <li>
      <span class="contact-service inline-block caps bold">Twitter</span><a href="https://twitter.com/florianbuerger">@florianbuerger</a></li>
    <li>
      <span class="contact-service inline-block caps bold">Email</span><a href="mailto:florian@florianbuerger.com">florian@florianbuerger.com</a></li>
    <li>
      <span class="contact-service inline-block caps bold">PGP</span><a href="https://keybase.io/florianbuerger">keybase.io/florianbuerger</a></li>
    <li class="mt3">Images and content © 2016 Florian Buerger.</li>
    <li>Thank you for reading.</li>
  </ul>

</footer>
