<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} — {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@florianbuerger">
  <meta name="twitter:creator" content="@florianbuerger">
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }} — {{ site.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}

  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">

  {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/path/to/image/{{ page.image }}">
  {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/img/avatar@2x.png">
  {% endif %}

  {% capture styles %}
  {% include main.css %}
  {% endcapture %}

  <style>
	  {{ styles | scssify }}
  </style>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

</head>
