<header class="site-header">
    <nav>
        
        
        <a class="minimal-link" href="/"><img class="baseline-adjust" src="/img/home.svg" width="32" height="32">Home</a>
        <a class="minimal-link" href="/blog"><img src="/img/blog.svg" width="32" height="32">Writing</a>
        <a class="minimal-link" href="/hire"><img src="/img/hire.svg" width="32" height="32">Hire me</a>
        <a class="minimal-link" href="/apps"><img src="/img/apps.svg" width="32" height="32">Apps</a>
        
        
    </nav>
</header>
