* {
  box-sizing: border-box; 
  margin: 0;
}

body {
  font-size: 16px;
  font-family: -apple-system, Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
@media screen and (min-width: 40em) {
  body {
    font-size: 20px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
  }
}

pre, code {
  font-family: 'SF Mono', Menlo, monospace;
  font-size: 1.1rem;
}

.site {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4rem;
  margin-bottom: 6rem;
  max-width: 40rem;
  width: 90%;  
}

a:hover {
  color: inherit;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;  
  margin-top: 2.5rem;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
  max-width: 90%;
}
p:last-child {
  margin-bottom: 3rem;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index {
  font-size: 2rem;
}
.index p {
  margin-bottom: 2rem;
}

.post-list {
}
.post-list-entry {
  margin-bottom: 6rem;
}

.post-meta {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: -1rem;
}

.site-header {
  margin-bottom: 4rem;
}

.active {
  font-weight: bold;
}
.nav {
  display: flex;
}
.nav a {
  margin-right: 1.5rem;
  text-decoration: none;
}

.site-footer {
  margin-top: 8rem;
  color: gray;
  font-size: 0.9rem;
}
