body {
    font-family: $base-font-family;
    
    font-size: 16px;

    @include respond-to(small) { font-size: 20px; }

    line-height: 1.5
    color: $text-color;
    background-color: $background-color;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.site { 
    max-width: 800px;
    width: 90%;
    margin: 4em auto;
    @include respond-to(small) { 
        margin-left: 5em; 
        width: 60%;
    }
}

em {
    font-style: italic;
}

strong {
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: $text-color;
    color: $background-color;
}

p {
    margin-bottom: 1em;
    @include respond-to(small) { margin-bottom: 1.5em; }
}

.headline {
    font-weight: bolder;   
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}
h1 {
    @extend .headline;
    font-size: 150%;
}
h2 {
    @extend .headline;
    font-size: 120%;
}

nav {
    // @include center-block;
    max-width: 400px;
    margin-bottom: 4em;
    a {
        text-decoration: none;
    }
    .logo {
        margin-bottom: 2em;
        width: 80%;
    }
    ul {
        // text-align: center;
        list-style-type: none;
        overflow: hidden;
    }
    li {
        padding-left: 1em;
        display: inline-block;
    }
    li:first-child {
        padding-left: 0;
    }
}

.cta {
    color: $highlight-color !important;
}

.minimal-link {
    text-decoration: none;
}

a:link, a:visited {
    color: $text-color;
}

.post-list {

}
.post-list-entry {
    margin-top: 1em;
    margin-bottom: 2em;
}
.post-meta {
    color: $light-text-color;
    font-size: 80%;
}
.post-list-excerpt {
    margin-top: 1em;
    margin-bottom: 0;
    @include respond-to(small) { margin-bottom:5em; }
}

blockquote {
    font-style: italic;
    color: $light-text-color;
    border-left: 1px solid $light-text-color;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    font-size: 70%;
    color: $light-text-color;
    p {
        padding: 0;
        margin: 0;   
    }
}

.footer-divider {
    margin-top: 5em;
    margin-bottom: 2em;
    border-top: 1pt solid $lighter-text-color;
    width: 50%;
}

.contact {
    margin-bottom: 2em;
}
.contact-service {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-transform: uppercase;
    width: 6em;
    display: inline-block;
}
